<?xml version="1.0"?>
<model>
  <name>floor</name>
  
  <version>1.0</version>
  
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Andrew Duguay</name>
    <email>andrewjosephduguay@gmail.com</email>
  </author>

  <description>
    A custom ground plane with a course texture for lane detection testing.
  </description>
</model>